<div class="row">
    <div class="col-xs-12 text-center">
        <h1>
            <b>Hello</b>
        </h1>
        <br>
    </div>

    <br>

    <div class="col-xs-12 ">
        <div class="col-xs-4  col-xs-offset-1">
        <label for="userAddress" class="form">Current address</label>
        <input class="form-control" id="userAddress" type="text">
    </div>
    </div>

    <br>

    <div id="product-wrapper" class="form-group col-xs-10 col-xs-offset-1">

    </div>

</div>

<script>

    //let contractOwner1 = '{{owner}}';
	//let contractAddress1 = '{{address}}';
	//let contractAbi1 = '{{abi}}';

	//console.log(contractOwner);
	//console.log(contractAddress);

</script>