<div class="row">
    <div class="col-xs-12 text-center">
        <h1>
            <b>Add Product</b>
        </h1>
    </div>

    <br>

    <div class="col-xs-12 text-center">
        <h3>this service is free, just pay your gas :)</h3>
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">

        <br>
        <br>
        <br>

        <div class="col-xs-12">
            <label for="userAddress" class="form">Enter your address</label>
        </div>
        <input class="form-control" id="userAddress" type="text">
        <br>

        <div class="col-xs-12">
            <label for="productName" class="form">Product name</label>
        </div>
        <input class="form-control" id="productName" type="text">
        <br>

        <div class="col-xs-12">
            <label for="productPrice" class="form">Product price</label>
        </div>
        <input class="form-control" id="productPrice" type="text" placeholder="type price in ETHER 0.05 or 4">
        <br>

        <div class="col-xs-12">
            <label for="productDesc" class="form">Product description</label>
        </div>
        {{!-- <input class="form-control" id="productDesc" type="text" > --}}
        <textarea class="form-control" id="productDesc"></textarea>
        <br>

        <div class="col-xs-12">
            <label for="productResource" class="form">Resource</label>
        </div>

        <div class="row">
            <input type="hidden" id="ipfs-address" value="">
            <div class="col-xs-10">
                <input class="form-control" id="productResource" type="file">
            </div>
            <div class="col-xs-2">
                <button id="btn-upload" class="btn btn-default" type="button">Upload</button>
                <br>
            </div>
        </div>

        <div class="col-xs-12">
            <br>
            <span id="output" class="hide-me"></span>
            {{!-- <img id="output"> --}}
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button id="btn-seller-add" type="button" class="btn btn-success">Add</button>
            </div>
        </div>

        
        
    </div>

</div>

