<div class="row">
    <div class="col-xs-12 text-center">
        <h1><b>Check balance</b></h1>
    </div>

    <br>

    <div class="col-xs-12 text-center"><h3>this service is free :)</h3></div>

    <div class="form-group col-xs-8 col-xs-offset-2">

        <br>
        <br>
        <br>

        <div class="form-label"><label for="userAddress" class="form">Enter your address</label></div>
        <input class="form-control" id="userAddress" type="text">
        <br>
        <button id="btn-check-balance" type="button" class="btn btn-default">Check</button>
    </div>

    <div class="form-group col-xs-8 col-xs-offset-2 hide-me">

        <br>
        <br>
        <br>

        <div class="form-label"><label for="sellerBalance" class="form">Your balance</label></div>
        <input class="form-control" id="sellerBalance" type="text" readonly>
    </div>

</div>