
<nav>
				<div class="row">

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/browse">Browse</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/domain/getPrice">Get price</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/domain/isregistered">Is registered</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/domain/register">Register</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/domain/edit">Edit</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/domain/transfer">Transfer</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/domain/extend">Extend Expiration Date</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/domain/receipt">Receipts</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<br>
						<button type="button" class="btn btn-primary w-100">
							<a href="/withdraw">Withdraw</a>
						</button>

					</div>
				</div>
			</nav>