
<nav>
				<div class="row">

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/domain/getPrice">Get price</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/domain/isregistered">Is registered</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-success w-100">
							<a href="/domain/register">Register</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/seller/addProduct">Edit</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/buyer/register">Transfer</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/seller/register">Extend Expiration Date</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<button type="button" class="btn btn-info w-100">
							<a href="/seller/register">Receipts</a>
						</button>

					</div>

					<div class="col-xs-12">
						<br>
						<br>
						<button type="button" class="btn btn-primary w-100">
							<a href="/seller/withdraw">Withdraw</a>
						</button>

					</div>
				</div>
			</nav>