<div class="row">
    <div class="col-xs-12 text-center">
        <h1><b>Withdraw balance</b></h1>
    </div>

    <br>

    <div class="form-group col-xs-8 col-xs-offset-2">

        <br>
        <br>
        <br>

        <div class="form-label"><label for="userAddress" class="form">Enter your address</label></div>
        <input class="form-control" id="userAddress" type="text">
        <br>
    </div>

    <div class="form-group col-xs-8 col-xs-offset-2">

        <br>

        <div class="form-label"><label for="withdrawAmount" class="form">Withdraw amount</label></div>
        <input class="form-control" id="withdrawAmount" type="text" placeholder="ether">
        <br>
        <button id="btn-withdraw" type="button" class="btn btn-default">Withdraw</button>
    </div>

</div>